<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-12 col-md-8 col-lg-5">
            <div class="card shadow">
                <div class="card-body">
                    <form>
                        <div class="mb-3 text-center">
                            <h4 class="text-danger text-muted">Welcome</h4>
                        </div>
                        <div class="mb-3 text-center">
                            <p class="text-muted">A link has been sent to your registered email. Please verify it.</p>
                        </div>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-info text-dark" routerLink="/login" target="_blank">Login</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
