<app-loader *ngIf="isLoading"></app-loader>
<mat-toolbar>
  <span>The Kala Mart</span>
  <span class="example-spacer"></span>
  <div>
    <div class="search-box" *ngIf="filteredProducts && !isMobile">
      <mat-icon matPrefix class="searchIcon">
        search
      </mat-icon>
      <input matInput type="text" placeholder="Search products..." [(ngModel)]="searchQuery" (input)="searchProducts()">
    </div>
    <button mat-icon-button (click)="openProfile()">
      <mat-icon>account_circle</mat-icon>
    </button>
    <button mat-icon-button (click)="openCart()">
      <mat-icon aria-hidden="false" matBadge={{cartLength}} matBadgeSize="small"
        matBadgeOverlap="true">shopping_cart</mat-icon>
    </button>
  </div>
</mat-toolbar>


<div class="scrollablePart">
  <!-- <div *ngFor="let notification of notifications">
    <div>{{ notification.title }}</div>
    <div>{{ notification.body }}</div>
  </div> -->
  <div class="search-box1" *ngIf="filteredProducts && isMobile">
    <mat-icon matPrefix class="searchIcon">
      search
    </mat-icon>
    <input matInput type="text" placeholder="Search products..." [(ngModel)]="searchQuery" (input)="searchProducts()">
  </div>
  <div class="productCard">
    <mat-card class="example-card" *ngFor="let product of filteredProducts">
      <img mat-card-image height="300px" [src]="product.imageUrl" [alt]="product.name" (click)="openProduct(product)"
        class="img" />
      <mat-card-header>
        <mat-card-subtitle>{{product.name}}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p>₹ {{product.price}}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<router-outlet></router-outlet>