.example-card {
  /* max-width: 400px;
    margin: 5px; */
  /* width: calc(20% - 25px); */
  width: calc(100% - 25px);
  margin: 10px;
  border: 1px solid #ccc;
}

.productCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.scrollablePart {
  margin-top: 80px;
  /* Adjust based on the height of the toolbar */
  /* padding: 20px;  */
  overflow-y: auto;
  /* height: calc(100vh - 64px);  */
}

.mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  background-color: white;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px;
  /* Width of the scrollbar */
}

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar-thumb {
  background-color: #888;
  /* Color of the thumb */
  border-radius: 5px;
  /* Border radius of the thumb */
}

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar-track {
  background-color: #eee;
  /* Color of the track */
}

.example-spacer {
  flex: 1 1 auto;
}

.search-box {
  /* width: 100%; */
  height: 35px;
  /* top: 40px; */
  bottom: 10px;
  display: inline-flex;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 2px 2px 9px #430bd938;
  border-radius: 10px;
  opacity: 1;

  margin: 10px;
  margin-right: 20px;
}

.search-box1 {
  /* width: 94%; */
  width: 84%;
  height: 35px;
  /* top: 40px; */
  bottom: 10px;
  display: inline-flex;
  background: #ffffff 0% 0% no-repeat padding-box;
  /* box-shadow: 2px 2px 9px #430bd938; */
  border-radius: 7px;
  opacity: 1;
  border: 1px solid rgba(128, 128, 128, 0.301);

  margin-left: 3%;
  margin-right: 3%;
  /* margin-top: 5px; */
  margin-bottom: 5px;
}

.search-box input, .search-box1 input {
  border: transparent;
  outline: transparent;
}

.searchIcon {
  padding-top: 5px;
  padding-left: 5px;
  color: #62606C;
  margin-right: 5px;
}

.addProduct {
  margin: 10px;
  margin-right: 20px;
}

.edit .delete {
  width: 47%;
}

@media (min-width: 330px) {
  .example-card {
    width: calc(100% - 25px);
  }

  .img{
    height:330px;
  }
}

@media (min-width: 400px) {
  .example-card {
    width: calc(50% - 20px);
  }

  .img{
    height:250px;
  }
}

/* Media queries for responsive design */
/* Big Mobile Devices  */
@media (min-width: 600px) {
  .example-card {
    width: calc(33.33% - 20px);
  }

  .img{
    height:270px;
  }
}

@media (min-width: 800px) {
  .example-card {
    width: calc(33.33% - 20px);
  }

  .img{
    height:300px;
  }
}

/* Tablet/iPad Devices */
@media (min-width: 900px) {
  .example-card {
    /* width: calc(33.33% - 20px); */
    width: calc(25% - 20px);
  }

  .img{
    height:270px;
  }
  
}

@media (min-width: 1000px) {
  .example-card {
    /* width: calc(33.33% - 20px); */
    width: calc(25% - 20px);
  }

  .img{
    height:300px;
  }
  
}

/* Laptop/Desktop Devices */
@media (min-width: 1200px) {
  .example-card {
    /* width: calc(25% - 20px); */
    width: calc(20% - 25px);
  }

  .img{
    height:300px;
  }
}

.filter-button-container {
  position: absolute;
  top: 70px;
  right: 0px;
  z-index: 1000; /* Ensure it is above other elements */
}
